html { /*Futura*/
    font-family: "Helvetica Neue", Helvetica, "PingFang SC",
        "Hiragino Sans GB", "Noto Sans CJK SC", sans-serif,
        "Microsoft YaHei", "微软雅黑", Arial;
    font-size:15px;
    line-height: 18px;
}
