@charset "UTF-8";
html {
  /*Futura*/
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", sans-serif, "Microsoft YaHei", "微软雅黑", Arial;
  font-size: 15px;
  line-height: 18px; }

/* ============================== 当前目录 ============================== */
.list-controls {
  margin: 0 -16px; }

.list-controls * {
  -webkit-tap-highlight-color: transparent; }

.list-controls ol.category-breadcrumb,
.list-controls ul#navigation-bar {
  margin: 0; }

.list-controls ul#navigation-bar {
  float: right; }

.list-controls ol.category-breadcrumb.hidden {
  display: block; }

.list-controls ol.category-breadcrumb > li,
.list-controls ol.category-breadcrumb > li > a,
.list-controls ul#navigation-bar > li,
.list-controls ul#navigation-bar > li > a {
  position: relative;
  border-radius: 2px;
  background-color: transparent !important; }

.list-controls ol.category-breadcrumb > li,
.list-controls ul#navigation-bar > li {
  margin: 0; }

.list-controls li > a.dropdown-header,
.list-controls li > a.toggle-link {
  font-size: 14px;
  line-height: 56px !important;
  padding: 0 12px 0 16px !important;
  color: #666 !important;
  border-radius: 2px;
  box-sizing: border-box;
  min-width: 120px; }

.list-controls li > a.dropdown-header:after,
.list-controls li > a.toggle-link:after {
  display: block;
  float: right;
  content: "arrow_drop_down";
  font-family: 'Material Icons';
  font-size: 20px; }

.list-controls a.dropdown-header.category-dropdown-button,
.list-controls ol.category-breadcrumb i.fa,
.list-controls ul#navigation-bar i.fa {
  display: none; }

.list-controls section.category-dropdown-menu.chooser,
.list-controls ul#navigation-bar > ul.drop {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-height: 296px;
  margin-top: -56px;
  padding: 4px 0;
  border: none;
  border-radius: 2px;
  box-shadow: var(--MDELEV2);
  animation: dropdown-menu 0.25s; }

@keyframes dropdown-menu {
  0% {
    transform: scaleY(0);
    transform-origin: 50% 0; }
  100% {
    transform: scaleY(1);
    transform-origin: 50% 0; } }

.list-controls ul#navigation-bar > ul.drop > li {
  margin: 0;
  padding: 0; }

.list-controls section.category-dropdown-menu.chooser > div.cat > a,
.list-controls ul#navigation-bar > ul.drop > li > a {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
  margin: 0; }

.list-controls section.category-dropdown-menu.chooser > div.cat > a,
.list-controls section.category-dropdown-menu.chooser > div.cat > a > span,
.list-controls ul#navigation-bar > ul.drop > li > a {
  color: #666 !important;
  line-height: 48px !important;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap; }

.list-controls section.category-dropdown-menu.chooser > div.cat > a > span {
  padding: 0 !important;
  width: auto; }

.list-controls ol.category-breadcrumb > li > a:hover,
.list-controls ul#navigation-bar > li > a:hover,
.list-controls section.category-dropdown-menu.chooser > div.cat > a:hover,
.list-controls ul#navigation-bar > ul.drop > li > a:hover {
  background-color: #eee !important;
  animation: md-entry-hover 0.25s; }

/* ============================== 列表控制 ============================== */
/* ============================== 发新帖子 ============================== */
.list-controls #create-topic,
.topic-footer-main-buttons .btn-primary {
  position: fixed;
  right: 16px;
  bottom: 16px; }

#reply-control.edit-title.open {
  z-index: 2003; }

.post-card {
  margin: 0;
  padding: 16px;
  width: 100vw;
  height: auto;
  box-shadow: unset;
  border-top: 1px solid #eee;
  box-sizing: border-box; }
  .post-card .post-card-head .head-detail .post-title a.title {
    max-width: 260px !important; }
  .post-card .post-footer button {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    width: 72px; }
    .post-card .post-footer button svg {
      margin: 0 4px 0 0;
      width: 20px;
      height: 20px; }
    .post-card .post-footer button span.number {
      margin: 0 4px; }
  .post-card .post-footer .post-like.active-animation::after,
  .post-card .post-footer .post-bookmark.active-animation::after {
    top: -10px;
    left: -10px; }
  .post-card .post-footer .post-bookmark {
    width: 24px; }
  .post-card .post-footer .post-activity {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    text-align: right; }
