.post-card {
    margin: 0;
    padding: 16px;
    width: 100vw;
    height: auto;
    box-shadow: unset;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    .post-card-head {
        .head-detail {
            .post-title {
                a.title {
                    max-width: 260px !important;
                }
            }
        }
    }
    .post-footer {
        button {
            flex-shrink: 0;
            -webkit-flex-shrink: 0;
            width: 72px;
            svg {
                margin: 0 4px 0 0;
                width: 20px;
                height: 20px;
            }
            span.number {
                margin: 0 4px;
            }
        }
        .post-like,
        .post-bookmark {
            &.active-animation::after {
                top: -10px;
                left: -10px;
            }
        }
        .post-bookmark {
            width: 24px;
        }
        .post-activity {
            flex-grow: 1;
            -webkit-flex-grow: 1;
            text-align: right;
        }
    }
}