html { /*Futura*/
    font-family: "Noto Sans CJK SC", "Helvetica Neue","Helvetica",
        "PingFang SC",'Hiragino Sans GB',sans-serif,
        "Microsoft YaHei", "微软雅黑",Arial;
    font-size:15px;
    line-height: 18px;
}

.topic-list>tbody>tr {/* 帖子列表 */
    font-size:14px;
}
.timeline-scrollarea-wrapper{/* 时间轴 */
    font-size:12px;
}
#topic-title h1 {/* 帖子标题 */
    font-size: 24px;
    line-height: 18px;
}
h2 {
    font-size: 18px;/* 内容标题 */
    font-weight: bold;
}
h3 {
    font-size:14px;
}
.menu-links.columned li {/* 菜单字体 */
   font-size:14px;
}
.contents {/* 内容 */
    font-size:15px;
    line-height:1.67;
}

.body-page p{/* page */
    font-size:14px;
    line-height:1.67;
}
.body-page h2{/* body-page */
    font-size: 14px;
    font-weight: bold;
}
.body-page h3{/* body-page */
    font-size:14px;
}
.body-page table {
    font-size:14px;/* 统计表 */
}
.body-page ul{/* page */
    font-size:14px;
    line-height:1.67;
}
.nav-pills>li>a {
    font-size: 15px;/* 最新,近期,分类 */
    line-height: 18px;
}
img.avatar {
    border-radius: 50%;/* 头像圆角 */
}