.body-page blockquote,
.body-page hr,
.body-page p,
.body-page pre,
.body-page ul,
.body-page ol,
.body-page table {
  font-size: 14px;
  font-size: 1rem;
}


.cooked h1,
.body-page h1 {
    font-size: 1.6rem !important;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

.cooked h2,
.body-page h2 {
    font-size: 1.4rem !important;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.cooked h3,
.body-page h3 {
    font-size: 1.2rem !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.body-page ul:not(.nav-pills),
.body-page ol:not(.nav-pills) {
    margin-left: 20px;
}

.body-page *[itemprop=mainContentOfPage] img {
    width: 100%;
}

.babble-list-unread {
    margin-left: -30px;
}

.fa-lock {
    display: none; 
}

.d-header #site-logo {
    max-height: 45px;
}

.logo-small {
    margin-right: 12px;
}

/* ================================ 顶栏 ================================ */



/* ============================== 发新帖子 ============================== */
.list-controls #create-topic,
.topic-footer-main-buttons .btn-primary,
.timeline-footer-controls button.widget-button.btn.create.no-text.btn-icon {
    height: 56px;
    width: 56px;
    margin: 0 !important;
    padding: 16px !important;
    border-radius: 50%;
    outline: none;
    box-shadow: $MDELEV6;
    z-index: 999;
    background-size: 24px 24px;
    background-color: rgb(255,142,139) !important;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-tap-highlight-color: transparent;
}
.list-controls #create-topic {
    background-image: url("/uploads/default/original/1X/fc749f267e7ac79dde454414edcee1c23ed2d989.png");
}
.topic-footer-main-buttons .btn-primary,
.timeline-footer-controls button.widget-button.btn.create.no-text.btn-icon {
    background-image: url("/uploads/default/original/1X/9eb0565a63bb61202f7cefd9ee7925cde6799ec2.png");
}
.list-controls #create-topic:active,
.list-controls #create-topic:visited,
.topic-footer-main-buttons .btn-primary:active,
.topic-footer-main-buttons .btn-primary:visited,
.timeline-footer-controls button.widget-button.btn.create.no-text.btn-icon:active,
.timeline-footer-controls button.widget-button.btn.create.no-text.btn-icon:visited {
    background-color: orange !important;
    box-shadow: $MDELEV12;
}
.list-controls #create-topic > *,
.topic-footer-main-buttons .btn-primary > *,
.timeline-footer-controls button.widget-button.btn.create.no-text.btn-icon > * {
    display: none;
}