/* ============================== 帖子列表 ============================== */
.post-card {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
  width: 580px;
  border-radius: 3px;
  box-shadow: $MDELEV2;
  .post-card-head {
    display: flex;
    width: 580px;
    height: 48px;
    > a {
      display: block;
      img.avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
    .head-detail {
      margin-left: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex-grow: 1;
      .post-title {
        display: flex;
        height: 24px;
        line-height: 24px;
        white-space: nowrap;
        a.title {
          flex-grow: 1;
          max-width: 440px !important;
          font-size: 16px;
          color: #000;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        span.post-activity {
          text-align: right;
          a.post-activity {
            font-size: 14px;
            color: #999
          }
        }
      }
      .post-tags {
        display: flex;
        height: 18px;
        font-size: 12px;
        color: #fff;
        white-space: nowrap;
        a.category-badge {
          margin-right: 14px;
          padding: 0 6px;
          height: 18px;
          line-height: 18px;
          background-color: #ff0000;
          border-radius: 8px;
          font-size: 12px;
          color: #fff;
        }
        div.discourse-tags a {
          margin-right: 14px;
          padding: 0 6px;
          height: 18px;
          line-height: 18px;
          background-color: gray;
          border-radius: 8px;
          font-size: 12px;
          color: #fff;
          top: 0;
        }
      }
    }
  }
  .post-body {
    margin-top: 16px;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .post-footer {
    display: flex;
    margin-top: 16px;
    font-size: 14px;
    color: #999;
    > span {
      display: flex;
      width: 64px;
      justify-content: space-around;
      align-items: center;
    }
    a.last-poster {
      flex-grow: 1;
      text-align: right;
      color: #999;
      img.avatar {
        margin-left: 16px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }
}
