/* ============================== 帖子列表 ============================== */
.post-card {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 12px auto;
  padding: 16px;
  width: 580px;
  border-radius: 3px;
  box-shadow: $MDELEV2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .post-card-head {
    display: flex;
    display: -webkit-flex;
    width: 580px;
    height: 48px;
    > a {
      display: block;
      img.avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
    .head-detail {
      margin-left: 15px;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      flex-direction: column;
      -webkit-flex-direction: column;
      flex-grow: 1;
      -webkit-flex-grow: 1;
      .post-title {
        display: flex;
        display: -webkit-flex;
        height: 24px;
        line-height: 24px;
        white-space: nowrap;
        a.title {
          flex-grow: 1;
          -webkit-flex-grow: 1;
          max-width: 440px !important;
          font-size: 16px;
          color: #000;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        span.post-activity {
          text-align: right;
          a.post-activity {
            font-size: 14px;
            color: #999
          }
          span.relative-date {
            color: #999;
          }
        }
      }
      .post-tags {
        display: flex;
        display: -webkit-flex;
        height: 18px;
        font-size: 12px;
        color: #fff;
        white-space: nowrap;
        a.category-badge {
          margin-right: 14px;
          padding: 0 6px;
          height: 18px;
          line-height: 18px;
          background-color: #ff0000;
          border-radius: 8px;
          font-size: 12px;
          color: #fff;
        }
        div.discourse-tags {
          display: flex;
          display: -webkit-flex;
          margin: 0;
          a {
            margin-right: 14px;
            padding: 0 6px;
            height: 18px;
            line-height: 18px;
            background-color: gray;
            border-radius: 8px;
            font-size: 12px;
            color: #fff;
            top: 0;
          }
        }
      }
    }
  }
  .post-body {
    margin-top: 16px;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  .post-footer {
    display: flex;
    display: -webkit-flex;
    margin-top: 16px;
    font-size: 14px;
    color: #999;
    > button {
      display: flex;
      display: -webkit-flex;
      padding: 0;
      width: 104px;
      align-items: center;
      -webkit-align-items: center;
      &.disabled {
        pointer-events: none;
      }
      svg {
        width: 24px;
        height: 24px;
        margin: 0 16px 0 0;
        flex-shrink: 0;
      }
      span.number {
        margin: 0 8px;
      }
    }
    @keyframes post-btn-active {
      0% {
      }
      65% {
        transform: scale(1);
        opacity: 0.1;
      }
      100% {
        transform: scale(1);
        opacity: 0.1;
      }
    }
    .post-views {
      cursor: auto;
      svg {
        transform: translateY(-1px);
      }
    }
    .post-participants {
      cursor: auto;
      svg {
        transform: translateY(1px);
      }
    }
    .post-like,
    .post-bookmark {
      position: relative;
      &.active-animation::after {
        content: ' ';
        position: absolute;
        display: block;
        left: 0;
        top: -8px;
        width: 40px;
        height: 40px;
        background-color: #ffa500;
        border-radius: 50%;
        opacity: 0.5;
        transform: scale(0);
        animation: post-btn-active 0.3s ease-out;
        animation-iteration-count: 1;
      }
      svg {
        z-index: 1;
        path {
          transition: all 0.5s;
        }
        &:hover {
          path {
            fill: $MDPRIMARYCOLOR;
          }
        }
      }
    }
    a.last-poster {
      flex-grow: 1;
      -webkit-flex-grow: 1;
      text-align: right;
      color: #999;
      img.avatar {
        margin-left: 16px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }
}
