@charset "UTF-8";
/* =====================   Colors   ===================== */
/* ===================== Elevations ===================== */
/* ============================== 发新帖子 ============================== */
.list-controls #create-topic,
.timeline-footer-controls button.widget-button.btn.create.no-text.btn-icon {
  position: fixed;
  right: 192px;
  bottom: 32px; }

.topic-footer-main-buttons .btn-primary {
  display: none; }

.timeline-container {
  transform: none; }

.timeline-container.timeline-docked-bottom .timeline-footer-controls {
  opacity: 1;
  pointer-events: inherit;
  pointer-events: unset; }

.list-controls #create-topic:hover,
.topic-footer-main-buttons .btn-primary:hover,
.timeline-footer-controls button.widget-button.btn.create.no-text.btn-icon:hover {
  background-color: orange !important;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }
